h1 {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.app {
    width: 100%;
    height: 100vh;
}
.app-inner {
    width: 90%;
    height: 90%;
    display: flex;
    flex-flow: column nowrap;
    margin: 5%;
}
.container {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
/* .container-inner {
    max-height: 95%;
    max-width: 95%;
} */
.createGrid-container {
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
    height: 50%;
    border: 2px solid black;
    justify-content: stretch;
}
.createGrid-inner, .grid-title, .grid-size, .grid-difficulty, .grid-submit {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 3;
}
.grid-title, .grid-submit {
    flex: 2;
}
.counter, .select-level {
    display: flex;
    flex-flow: row nowrap;
    font-size: 24px;
    padding: 10px;
}
.level, .submit-button {
    border: 1px solid black;
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.level:hover, .submit-button:hover {
    border: 1px solid black;
    background: black;
    color: white;
}
.level.selected {
    border: 2px solid black;
    padding: 4px 9px;
}
.size {
    padding: 5px 10px;
    cursor: pointer;
}
.explanation {
    font-style: italic;
    font-size: 14px;
    line-height: 15px;
    padding: 5px 0 10px;
    height: 30px;
}
.grid-container {
    display: grid;
    grid-gap: 1px;
    place-items: stretch;
    min-height: 400px;
    min-width: 400px;
    background-color: #d0d0d0;
    border: 1px #d0d0d0 solid;
}
.cell {
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    background-color: #f4f4f4;
    /* color: #f4f4f4; */
}
.cell:hover {
    background-color: #e0e0e0;
    /* color: #333333; */
}
.cell.flagged {
    background-color: #FF002D;
}
.open {
    background-color: #e0e0e0 !important;
}

/* red: #FF002D */